{% extends 'base.html' %}

{% block title %} Активности {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="left-section">
            <div class="parent">
                <div>
                    <h2>Создать задачу</h2>
                    <form method="post" enctype="multipart/form-data" class="form-control d-flex flex-column gap-2">
                    {{ form.csrf_token }}
                    {{ form.name(class="form-control", placeholder="Название") }}
                    {{ form.reward(class="form-control", placeholder="Количество MMR") }}

                    {% if form.reward.errors %}
                        <div class="invalid-feedback" style="display: block!important;">
                            {% for error in form.reward.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ form.submit(class="btn btn-success", value="Отправить") }}
                </form></div>
            </div>
        </div>

        <div class="right-section">
            <h3>Список ваших задач</h3>
            {% for activity in activities %}
                <p>
                    <div class="task {% if activity.reward <= 10 %}yellow{% else %}green{% endif %}">
                        {{ activity.name }} {{ activity.reward }}

                        <form action="{{ url_for('ranks.delete_activity', id=activity.id) }}" method="POST" class="ms-auto">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
                        </form>
                    </div>
                </p>
            {% endfor %}
        </div>

    </div>
{% endblock %}