{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
<h2>NEPRIDUMAL - ваш инструмент для продуктивности</h2>

<!-- сделать как в scrollpage-->
<p>На вкладке Активности создавайте не более 6 задач, которые
вы должны выполнять каждый день.</p>
<p> Для каждой задачи можно указать награду - от 5 до 15 MMR.</p>
<img src="" alt="">

<p>На вкладке Статистика отмечайте выполненные задачи и сохраняйте их, чтобы они не сбросились.</p>
<p>Каждый день в 00:00 получайте MMR на ваш аккаунт. Ваш ранг и медаль отображены здесь же.</p>
<p>Сбоку смотрите вашу историю. Если ничего не делаете, только потеряете MMR!</p>
<img src="" alt="">

<p>Лучшие пользователи попадают в лидерборд.</p>
<p>Достигните максимального ранга!</p>

{% endblock %}