{% extends 'base.html' %}

{% block title %} Лидерборд {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
{% endblock %}


{% block content %}
<div class="table-responsive custom-table-responsive mx-auto">
    <table class="table custom-table text-center">
        <thead>
            <tr scope="row">
                <th scope="col" class="text-start">Позиция</th>
                <th scope="col" class="ps-0">Пользователь</th>
                <th scope="col" class="ps-0">MMR</th>
                <th scope="col" class="ps-0">Звание</th>
                <th scope="col" class="ps-0">Выполнено задач</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="{% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% endif %}">
                <th class="{% if user.id == current_user.id %}highlight{% endif %}">{{ loop.index }}</th>
                <td class="{% if user.id == current_user.id %}highlight{% endif %} ps-3 pe-3">
                        <img src="{{ current_user.avatar if current_user.avatar and current_user.login == user.login else url_for('static', filename='img/default.png') }}"
                             alt="Аватар" width="40" class="pe-2">
                    {{ user.login|truncate(8, True) }}
                </td>
                <td>{{ user.rank }}</td>
                <td class="text-center">{{ ranking_dict.get(user.id) }}</td>
                <td class="text-center ps-0">{{ count_completed_tasks(user.id) }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}