* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mymessage {
    color: #fec9c6;
    text-align: center
}

/* Основные стили */
.nav-link {
    color: #adb5bd;
    opacity: 0.8;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease-in-out,
                opacity 0.3s ease-in-out,
                border-color 0.3s ease-in-out;
}

/* Состояния */
.nav-link:hover,
.nav-link:focus {
    opacity: 1;
    color: #dee2e6;
}

.nav-link.active {
    color: #fff !important;
    opacity: 1;
    border-bottom-color: #4e9af1; /* Синий акцент */
}

body {
    background-image: url("../img/bg.jpg");
    background-size: 40px;
    color: #fafafa !important;
    overflow-x: hidden;
}

@font-face {
  font-family: raleway-c;
  src: url(/fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(/fonts/outfit-regular.woff2);
}

.flash {
  padding: 10px
}

.flash.success {
  border: 1px solid #21DB56;
  background: #6d9c7a;
}

.flash.error {
  border: 1px solid #FF4343;
  background: #915a5a;
}

.content {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    position: sticky;
    top: 0;
    padding: 20px;
}

.header__img {
    display: block;
    width: 80px;
    height: 50px;
}

.container {
    display: flex;
}

.left-section {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid black;
  padding-right: 10px;
}

.xp-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: #fafafa;
  height: 400px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 10px; /* Отступ между элементами */
    margin-bottom: 20px;
}

.task {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

.task.yellow {
    background-color: rgba(255, 255, 0, 0.1);
}

.task.green {
    background-color: rgba(0, 255,   0, 0.1);
}

@media (max-width: 768px) {
    .tasks {
        grid-template-columns: repeat(2, 1fr); /* На мобильных 2 колонки */
    }
}

@media (max-width: 480px) {
    .tasks {
        grid-template-columns: 1fr; /* На очень маленьких экранах 1 колонка */
    }
}

.right-section {
  flex: 30%;
  padding-left: 10px;
  border-left: 2px solid black;
}

.history {
  border: 2px solid black;
  padding: 10px;
}

.history h3 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.history-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.xp-positive {
  color: green;
}

.xp-negative {
  color: red;
}

.xp-neutral {
  color: yellow;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #551987;
    --bs-btn-border-color: #4b1677;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #401677;
    --bs-btn-hover-border-color: #33115f;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4c146c;
    --bs-btn-active-border-color: #451363;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #551987;
    --bs-btn-disabled-border-color: #198754;
}
