{% extends 'base.html' %}

{% block title %} Профиль {{ current_user.login }} {% endblock %}

{% block content %}

<h2>в разработке</h2>
<table border="0" class="profile-table">
    <tr><td valign="top">
        <div class="profile-ava">
            <img src="{{ current_user.avatar if current_user.avatar else url_for('static', filename='img/default.png') }}" alt="Аватар" width="125">
        </div>

        <div class="profile-load">
            <form method="post" enctype="multipart/form-data" class="form-control d-flex flex-column gap-2 w-25">
                {{ form.csrf_token }}
                {{ form.avatar }}
                {{ form.submit }}
            </form>
        </div>
    </td>
    <td valign="top" class="profile-panel">

        <ul class="profile-info">

        </ul>
    </td></tr>
</table>

{% endblock %}