<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{{ url_for('ranks.index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class='header__img' src="{{ url_for('static', filename='medals/kotik.jpg') }}" alt="bu">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{{ url_for('ranks.index') }}" class="nav-link px-2 text-secondary">Главная</a></li>
        <li><a href="{{ url_for('ranks.activities') }}" class="nav-link px-2 text-white">Активности</a></li>
        <li><a href="{{ url_for('ranks.stats') }}" class="nav-link px-2 text-white">Статистика</a></li>
    </ul>

    <div class="text-end">
        {% if current_user.is_authenticated %}
            <span class="me-1">Добро пожаловать, {{ current_user.login }} </span>
            <a href="{{ url_for('auth.profile') }}"><button type="button" class="btn btn-outline-light me-2">Профиль</button></a>
            <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-outline-light me-2">Выйти</button></a>
        {% else %}
            <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-outline-light me-2">Логин</button></a>
            <a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-warning purple">Регистрация</button></a>
        {% endif %}
    </div>
</div>